[Unit]
Description=Display information

[Service]
WorkingDirectory=/opt/lcd
Environment=VIRTUAL_ENV="/opt/lcd/.venv"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
ExecStart=python lcd.py
Restart=on-failure
RestartSec=5s
Type=notify

[Install]
WantedBy=default.target
